<form action="/text/upload" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">

    <label for="text">Text</label>
    <input id="text" name="text" type="file" value="" />

    <input type="submit" value="submit" />
</form>
