{% extends "base.jinja2" %}
{% block title %}iRead{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"  href="{{request.static_url('mypyramid:static/themes/base/jquery.ui.all.css')}}" type="text/css" />
	<script src="{{request.static_url('mypyramid:static/js/jquery-1.8.0.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.core.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.widget.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.mouse.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.button.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.position.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.dialog.js')}}"></script>
    
    <script src="{{request.static_url('mypyramid:static/js/readfile.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/popup.js')}}"></script>
    
    <link rel="stylesheet" href="{{request.static_url('mypyramid:static/css/fixedlayout.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('mypyramid:static/css/bookstyle.css')}}" />
	<style>
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		h1 { font-size: 1.2em; margin: .6em 0; }
    </style>
{% endblock %}

{% block content %}
<div id="leftCol">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <input type="file" id="fileinput" class="ui-widget "/>
</div>

<div id="filetitle">
<h2>
<output id="filename">{{file.name}}</output>
</h2>
</div>

<div id="rightCol">
<div id="center_div">
<div id="text_div">
{{file.text|safe}}
</div>
</div>
<div id="navibar">
<input type="button" id="navihome" value="<<" class="ui-button">
<input type="button" id="naviup" value="<" class="ui-button" >
<input type="button" id="navigoto" value="Goto" class="ui-button">
<input id="curpage" value="0" style="width:40px;"class="ui-widget ">
/
<input id="totalpage" value="" style="width:40px;" disabled class="ui-widget ">
<input type="button" id="navidown" value=">" class="ui-button">
<input type="button" id="naviend" value=">>" class="ui-button">
</div>

<div id="dialog-form" >
	<form>
	<fieldset>
		<input type="text" name="cs" id="cs" value="" class="text ui-widget-content ui-corner-all">
		<label>To:</label>
		<input type="text" name="en" id="en" value="" class="text ui-widget-content ui-corner-all">
	</fieldset>
	</form>
</div>

{% endblock %}

