{% extends "base.jinja2" %}
{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{request.static_url('mypyramid:static/fixedlayout.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('mypyramid:static/bookstyle.css')}}" />
    <link rel="stylesheet"  href="{{request.static_url('mypyramid:static/themes/base/jquery.ui.all.css')}}" type="text/css" />
	<script src="{{request.static_url('mypyramid:static/js/jquery-1.8.0.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.core.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.widget.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.mouse.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.button.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.position.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/js/jquery.ui.dialog.js')}}"></script>
    <script src="{{request.static_url('mypyramid:static/popup.js')}}"></script>
	<style>
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		h1 { font-size: 1.2em; margin: .6em 0; }
		div#words-contain { width: 350px; margin: 20px 0; }
		div#words-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#words-contain table td, div#words-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	</style>
{% endblock %}

{% block content %}
<div id="leftCol">
    Dummy Index
</div>
<div id="rightCol">
    <div id="filename">
        <h2>{{file.name}}</h2>
    </div>
    <div id="center_div">
        <div id="text_div">
          {{file.text|safe}}
        </div>
    </div>
</div>
<div id="navibar">
ddd
</div>

<div id="dialog-form" >
	<form>
	<fieldset>
		<label>Chinese</label>
		<input type="text" name="cs" id="cs" value="" class="text ui-widget-content ui-corner-all">
		<label>English</label>
		<input type="text" name="en" id="en" value="" class="text ui-widget-content ui-corner-all">
	</fieldset>
	</form>
</div>

{% endblock %}


