<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="shortcut icon" href="{{ STATIC_URL }}/img/onion.ico" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/baseread.css" type="text/css">
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/baseread.js"></script>

{% block head%}
{% endblock %}
</head>

<body>
<div id="left">
<a href="/accounts/logout">logout</a>
</br>
{% block left %}
{% endblock %}    

<div id="left_middle">
{% block left_middle%}
{% endblock %}
</div>

<div id="left_bottom">
<div>repeat times:</div>
<div>
{% for i in "0123456" %}
<span class='wl_{{i}}'>{{i}}</span>
{% endfor %}
</div>
<div>difficulty:</div>
<div>
<span class='normal'>normal</span>
<span class='hard'>hard</span>
</div>
<div>
<a href="http://www.fileformat.info/convert/doc/pdf2txt.htm" target="_blank">pdf2txt</a>
</br>
<a href="mailto:english.onion.op@gmail.com" class="email" title="联系邮箱">Feedback</a>
</div>
</div>
</div> 
<div id="middle">
    {% block middle%}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
<div id="right">
    {% block right %}
    {% endblock %}
</div>
</body>
