
{% if pagelist.has_previous %}
<a href="?{{ addr|escape }}=1" title="首页">首页</a>
<a href="?{{ addr|escape }}={{ pagelist.previous_page_number }}" title="上一页">上一页</a>&nbsp;
{% endif %}

{% if pagelist.has_other_pages %}
{% for p in page_range %}
{% ifequal p pagelist.number %}
<span>{{p}}</span>
{% else %}
<a href="?{{ addr|escape }}={{p}}" title="第{{p}}页">{{p}}</a>
{% endifequal %}
{% endfor %}
{% endif %}

&nbsp;

{% if pagelist.has_next %}
<a href="?{{ addr|escape }}={{ pagelist.next_page_number }}" title="下一页">下一页</a>&nbsp;
<a href="?{{ addr|escape }}={{ pagecount }}" title="末页">末页</a>&nbsp;
{% endif %}

<span>
<a href="###" class="Goto">转到</a>
第<input type="text" class="page_i" style="width: 40px; " value = "1"/>页
</span>
<span>当前第{{ curpage }}页 共
<input type="text" id="pagecount" value="{{pagecount}}" readonly style="width: 40px; ">
页，每页{{page_size}}行</span>
