{% extends "base.html" %}

{% block head%}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/navigate.js"></script>
<script type="text/javascript">
$(document).ready(function() {
function selectText(){
    if(document.selection){
        return document.selection.createRange().text;// IE
    }else{
        return 	window.getSelection().toString(); //标准
    }
}
function change_word(w, unkown, refresh){
    $.ajax({
        type: "POST",
        url: '../word_mark',
        data:{ w:w, unkown:unkown,
                curpage:{{curpage}}, 
                page_size:{{page_size}} 
            },
        success: function(data){
            if (refresh){
                txt = data.lines.join('<br/>');
                $("#div_txt").html(txt);
            }
        }
    });
}
function like_word(s) {
    return /^[\w\d]+$/i.test(s);
}

$(".word_span").live("click", function (){ // live response everytime
    s = $(this).text();
    yn = confirm("生词? "+s)
    change_word(s, yn, !yn);
});

$("#div_txt").mouseup(function(){
    var s = selectText().trim();
    if (s.length>0 & like_word(s)) {
        if(confirm("生词? "+s)) {
            change_word(s, true, true);
        }
    } 
});
});

$(document).keydown(function(event){  
   event = event || window.event;
   if(event.keyCode==37){ 
   {% if pagelist.has_previous %}
   location.href = "?{{ addr|safe }}={{ pagelist.previous_page_number }}";
   {% endif %}
   };
   if(event.keyCode==39){ 
   {% if pagelist.has_next %}
   location.href = "?{{ addr|safe }}={{ pagelist.next_page_number }}";
   {% endif %}
   };
});
</script>
{% endblock %}

{% block header %}
{% include "nav.html" %}
{% endblock %}

{% block footer %}
{% include "nav.html" %}
{% endblock %}


{% block left %}
<a href="./upload">upload</a>
<br/>
<a href="./personal">personal</a>
{% endblock %}

{% block right %}
    {% for line in lines %}
        {{line|safe}}
    {% endfor %}
{% endblock %}
