{% extends "baseread.html" %}

{% block head%}
<script type="text/javascript" src="{{ STATIC_URL }}js/read.js"></script>
{% endblock %}

{% block left_middle%}
<div class="file-box"> 
<input type="file" id="fileinput" accept="text/*,image/png" style= "width: 100%;"/>
</div>
<div>
<select id="file_encoding">
  <option value="GB18030">GB18030</option>
  <option value="UTF8">UTF8</option>
</select>
<!--
<button type="button" id="compact" >compact</button>
-->
</div>

<input id="search_txt" value="" style= "width: 96%;"/>
<input type="button" id="search" value="Search" >article
</br>
<a href="./word_unknown">my words</a>
{% endblock %}

{% block middle %}
<div id="div_article">
</div>
{% endblock %}

{% block right %}
<div>
<input type="button" id="rescue_word" value="Rescue my words~" >
<span id='time2show'> </span></div>
</br>
<div id="div_2study">
</div>
{% endblock %}

{% block footer %}
{% include "nav.html" %}
{% endblock %}
