<head>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<style type="text/css">
        body{text-align:center;}
       #div_txt{text-align:left; width:70%%; margin:0 auto; line-height: 150%} 
        .word_span{background-color:yellow}
</style>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/default.js"></script>
<script type="text/javascript">
$(document).ready(function() {
function selectText(){
    if(document.selection){
        return document.selection.createRange().text;// IE
    }else{
        return 	window.getSelection().toString(); //标准
    }
}
function change_word(w, unkown){
    $.ajax({
        type: "POST",
        url: '../word_mark',
        data:{ w:w, unkown:unkown,
                curpage:{{curpage}}, 
                page_size:{{page_size}} 
            },
        success: function(data){
            $("#div_txt").html(data.txt);
        }
    });
}
function like_word(s) {
    return /^[\w\d]+$/i.test(s);
}

$(".word_span").live("click", function (){ // live response everytime
    s = $(this).text();
    if (confirm("认识? "+s)){
        change_word(s, false);
    }
});

$("#div_txt").mouseup(function(){
    var s = selectText().trim();
    if (s.length>0 & like_word(s)) {
        if(confirm("生词? "+s)) {
            change_word(s, true);
        }
        //location.reload(true);
    } 
});
});
$(document).keydown(function(event){  
   event = event || window.event;
   if(event.keyCode==37){ 
   {% if pagelist.has_previous %}
   location.href = "?{{ addr|safe }}={{ pagelist.previous_page_number }}";
   {% endif %}
   };
   if(event.keyCode==39){ 
   {% if pagelist.has_next %}
   location.href = "?{{ addr|safe }}={{ pagelist.next_page_number }}";
   {% endif %}
   };
});
</script>
</head>
<body>
<a href="./upload">upload</a>
</br>
<div style="text-align: right;">{% include "nav.html" %}</div>
<br>
<div id="div_txt">
    {{ txt|safe }}
</div>
<br>
<br> {% include "nav.html" %}
</body>
</html>"

